.header{
    display: flex;
    text-align: center ;
    background-color:#001e4c;
    color: yellow;
    margin: 20px;
   justify-content:space-around;
     position: fixed;     
     top: 0;
    left: 0;
    width: 100%;
}
.contact {
    color: black;
    margin: 5px;
    background-color: yellow;

    
}
.logo {
    font-size: 25px;
    color: yellow;
    margin: 5px;
}